root = true

[*]
indent_style = space
indent_size = 4
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.lua]
keep_one_space_between_table_and_bracket = false
align_continuous_assign_statement = false
align_continuous_rect_table_field = false
max_line_length = 200
